{
  "env": {
    "server": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            },
            "debug": true
          }
        ]
      ],
      "plugins": [
        [
          "module-resolver",
          {
            "root": [
              "./server"
            ],
            "alias": {
              "server": "./server/",
              "config": "./server/helpers/config.js",
              "logger": "./server/helpers/logger.js"
            }
          }
        ]
      ]
    },
    "client": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "debug": true
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}
