$font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
$font-family-monospace: Consolas, "Courier New", monospace;
$font-color: #333;
$font-size: 1.4rem;

$border-color: #ccc;
$shadow-color: $border-color;

$body-background: #fff;
$error-color: #d00;
$link-color: #00b7ff;
$active-component-background: #f0e68c;

$body-min-width: 320px;
$container-max-width: 1024px;
$container-max-content-width: 1000px;
$container-padding: ($container-max-width - $container-max-content-width) / 2;
