{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "max-nested-callbacks": 0,
    "func-names": 0,
    "prefer-arrow-callback": 0,
    "no-unused-expressions": 0
  }
}
