extends layout

block initialize
  - var title = 'User profile';
  - var lastSignedIn = moment(user.lastSignedIn);

block content
  h1 User status

  h2 User name:
  pre #{user.username}
  
  h2 Last signed in:
  pre #{lastSignedIn} (#{lastSignedIn.fromNow()})