extends layout

block initialize
  - var title = "User profile";

block content
  h1 User status

  h2 User name:
  pre #{user.username}

  h2 Session: 
  pre #{JSON.stringify(sessionValues, null, ' ')}

  h2 Cookies:
  pre #{JSON.stringify(cookieValues, null, ' ')}

  h2 Signed cookies:
  pre #{JSON.stringify(signedCookieValues, null, ' ')}