extends layout

block initialize
  - var title = 'Home';

block content
  h1 Welcome
  if isDebug
    div.debug-links
      p
        a(href='/session') See current user info
      p
        a(href='/cache') See server cache info
      p
        a(href='/referrer-policy') Try referrer policy header
  img(class='c-full-page-logo c-full-page-logo--grounded', src=asset('images/express-security-logo.png'), alt='App logo', width='300', height='300')

block scripts
  script(nonce=nonce).
    'use strict';
    const message = 'Inline script is running.';
    console.log(message);
